/**
 * Google theme for reveal.js.
 *
 * By Alexandre Shinebourne alexshine@google.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(//fonts.googleapis.com/css2?family=Google+Sans);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #FFFFFF;

$mainColor: #BDC1C6;
$headingColor: #202124;

$mainFontSize: 30px;
$mainFont: 'Google Sans', Arial, sans-serif;
$headingFont: 'Google Sans', Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


// seems like this could be useful - https://quarto.org/docs/presentations/revealjs/